
<div class="spacer"></div>

<button class="btn btn-primary" (click)="showStartModal = true;">Start Exercise</button>
<button class="btn btn-primary" (click)="manualEditModal()">Manually Add Exercise</button>

<h3>Current Exercises</h3>
<div class="list-group">
  <div *ngFor="let exercise of incompleteExercises | orderBy:['-startTime']" class="list-group-item">
    <button (click)="endExercise(exercise.id)" class="btn btn-danger btn-sm pull-right">End</button>
    <h4 class="list-group-item-heading">{{exercise.exerciseType.name}}</h4>
    <div class="list-group-item-text">
      <p>{{exercise.startTime}}</p>
    </div>
  </div>
</div>

<h3>Past Exercises</h3>
<div class="list-group">
  <div *ngIf="completedExercises.length == 0">
    <p class="help-block">It looks like you don't have any exercises. Click 'Start Exercise' to start one right now.</p>
  </div>
  <div *ngFor="let exercise of completedExercises | orderBy:['-startTime']" class="list-group-item">
    <button (click)="openModal(exercise.id)" class="btn btn-default btn-sm pull-right">Edit</button>
    <h4 class="list-group-item-heading">{{exercise.exerciseType.name}}</h4>
    <div class="list-group-item-text">
      <p>{{exercise.startTime}} - Score:{{exercise.score}} - Duration:{{exercise.duration}}</p>
    </div>
  </div>
</div>

<ft-exercise-modal *ngIf="showEditModal" [exercise]="selectedExercise" (hidden)="onModalClose()"></ft-exercise-modal>
<ft-start-exercise-modal *ngIf="showStartModal" (hidden)="onModalClose()"></ft-start-exercise-modal>
