<ft-modal [options]="modalOptions" (hidden)="onHidden()" style="white-space: normal;">
  <h2 ft-modal-header>Select an Exercise</h2>
  <div ft-modal-body>
    <div class="row">
      <div class="col-md-12">

        <div class="form-group">
          <select class="form-control" [(ngModel)]="exercise.exerciseTypeId">
            <option *ngFor="let type of exerciseTypes" [ngValue]="type.id">{{type.name}}</option>
          </select>
        </div>

      </div>
    </div>
  </div>
  <div ft-modal-footer>
    <button class="btn btn-primary" (click)="onSave()">Start</button>
    <button class="btn btn-default" (click)="onClose()">Close</button>
  </div>
</ft-modal>